@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
	font-family: lato;
}



/*--- Header Overall Styling ---*/

.site-header {
	position: sticky;
	padding: 10px 30px 0;
	top: 0;
	left: 0;
	Background-image: url("../images/homepage/header_2.png");
	/* background-position: center; */
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #091528;
	min-width: 950px;
	height: 75px;
	overflow: none;
}

#homepage-header{
	height:100px;
}



/*--- Logo Styling ---*/

#logo {
	float: left;
	padding-bottom: 5px;
	color: #fff;
	font-family: oswald;
}

#logo h1 {
	letter-spacing: 4px;
	font-size: 240%;
	line-height: 50px;
	font-weight: 500;
}

#logo h2 {
	font-size: 100%;
	letter-spacing: 6px;
	text-align: justify;
	line-height: 10px;
	font-weight: 200;
	margin-left: 2px;
	font-family: raleway;
}

#logo hr {
	clear: both;
	border: solid 1px #88d; 
	width: 97%; 
	margin-top: 5px;
}



/*--- Site navigation styling ---*/

#site-nav {
	float: right;
	text-align: right;
	font-size: 130%;
	list-style-type: none;
	letter-spacing: 4px;
	color: #fff;
	margin-top: 30px;
	font-family: raleway;
	font-weight: 500;
}

#site-nav > li {
	display: inline-block;
	margin-right: 30px;
	
}

.site-header a {
	text-decoration: none;
	color: inherit;
}

.	site-header a:hover {
	text-decoration: underline;
}


.nav-active {
	text-decoration: underline;
	
}

/*--- Page Navigation styling ---*/

#page-nav {
	clear: both;
	min-width: 750px;
	margin: 0 auto;
	list-style-type: none;
	letter-spacing: 5px;
	text-align: left;
	font-size: 110%;
	padding-top: 5px;
}

#page-nav li {
	display: inline-block;
	margin: 0 20px;
	text-align: center;
	font-family: oswald;
	line-height: 10px;
	font-weight: 50;
	color: #fff
}




/*--- Main Body Styling ---*/

#content-outer {
	margin-bottom: 50px;
	border-bottom: solid 1px #000;
}

.section-outer {
	height: calc(100vh - 162px);
	width: 100vw;
	border-top: solid 1px #000;
	scroll-margin-top: 110px;
	background-image: linear-gradient(to bottom right, #00456c, #241d92);
}


/*--- Footer Socials Styling ---*/

#socials {
	display: sticky;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	background: #4A646C;
	height: 30px;
	border-bottom: solid 1px #000;
}

#socials li {
	display: inline;
	padding: 0 40px;
	font-size: 25px;
}

#socials a {
	text-decoration: none;
	color: inherit;
}
